{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtra Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="{% static 'mainapp/fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static 'mainapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainapp/css/templatemo-xtra-blog.css' %}" rel="stylesheet">
<!--

TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-1 mx-auto tm-site-logo"><i class="fa-solid fa-user"></i></div>

                {% if request.user.is_authenticated %}
                    <h3 class="text-center">{{request.user}}</h3>
                    <div class="text-center">
                    <a href="{% url 'user_logout' %}" class='btn btn-danger '>Logout</a>
                    </div>

                {% else %}
                    <a href="{% url 'user_login' %}" class="btn btn-danger ml-5">Signi In</a> <a href="{% url 'user_register' %}" class="btn btn-primary">Sign Up</a>
                {% endif %}


                {% comment %} <a href="{% url 'user_login' %}" class="btn btn-danger">Signi In</a> <a href="{% url 'user_register' %}" class="btn btn-primary">Sign Up</a> {% endcomment %}


            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item"><a href="{% url 'index' %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog Home
                    </a></li>

                    {% if request.user.is_authenticated %}
                        <li class="tm-nav-item"><a href="{% url 'user_Profile' user.username %}" class="tm-nav-link">
                            <i class="fa-solid fa-user"></i>
                            My profile
                        </a></li>
                    {% endif %}
                    <li class="tm-nav-item"><a href="{% url 'about' %}" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Xtra
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'contact' %}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                Xtra Blog is a multi-purpose HTML template from TemplateMo website. Left side is a sticky menu bar. Right side content will scroll up and down.
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">

                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">{% csrf_token %}
                        <input class="form-control tm-search-input" name="search" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>

                </div>
            </div>

{% block content %}

{% endblock content %}
<footer class="row tm-row">
    <hr class="col-12">

    <div class="col-md-6 col-12 tm-color-gray tm-copyright">
        Copyright 2020 Xtra Blog Company Co. Ltd.
    </div>
</footer>
</main>
</div>
<script src="{% static 'mainapp/js/jquery.min.js' %}"></script>
<script src="{% static 'mainapp/js/templatemo-script.js' %}"></script>
</body>
</html>







